fastapi
uvicorn[standard]
sqlalchemy
pymysql  # mysqlclient 대신 이거!
pydantic
pydantic-settings  # BaseSettings로 환경변수 관리
python-dotenv
python-jose[cryptography]
bcrypt
tzdata  # Windows에서 zoneinfo 시간대 데이터 제공
# alembic
